*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    height: 100%;
    font-family: sans-serif, Arial, Helvetica;        ;
    font-size: 12px;
}
.header_point{
    width: 100%;
    height: 107px;
    

}
#top_image{
    width: 125px; 
    height: 63px;
    float: left;
    margin: 12px 0 0 30px;
}
.nav_point, ul{
    text-decoration: none;
    text-align: center;
    margin: 16px 0 0 130px;
}
.nav_point, li{
    display: inline-block;
    list-style-type: none;
      
}
.nav_point, a{
    padding: 8px 16px;
    color: #1d1c1c;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: lighter;
}
#but_point{
    margin: 28px 30px 0 0;
    float: right;
    padding: 12px 12px;
    width: 140px; 
    background-color: #F63954;
    border: none;
    font-weight: lighter;
    color: #ffffff
}